@model EntityLayer.Concrete.Featured1

<div class="maghny-grid">
    <figure class="effect-lily border-radius  m-0">
        <img class="img-fluid" src="@Model.Image" alt="" />
        <figcaption>
            <div>
                <h4>@Model.Title</h4>
                <p>@Model.Description </p>
            </div>

        </figcaption>
    </figure>
</div>