<!doctype html>
<html lang="zxx">
    
@await Html.PartialAsync("~/Views/LayoutPartial/_HeaderPartialView.cshtml")

<body>

    @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartialView.cshtml")
    
    @RenderBody()

    @await Html.PartialAsync("~/Views/LayoutPartial/_FooterPartialView.cshtml")
    
    @await Html.PartialAsync("~/Views/LayoutPartial/_ScriptsPartialView.cshtml")

</body>

</html>